<!-- @@master = ./_base.html -->

<!-- @@block = head -->
<link href="./css/post-new.css" rel="stylesheet">
<!-- @@close -->

<!-- @@block = body -->
<div class="left">
    <div class="left-title">过往情节</div>
    <ul class="node-selector">
        <li><span class="mode1">1</span><span class="mode2">balabalabalabalabalabalabalabala</span></li>
        <li><span class="mode1">1</span><span class="mode2">balabalabalabalabalabalabalabala</span></li>
        <li><span class="mode1">1</span><span class="mode2">balabalabalabalabalabalabalabala</span></li>
        <li><span class="mode1">1</span><span class="mode2">balabalabalabalabalabalabalabala</span></li>
        <li><span class="mode1">1</span><span class="mode2">balabalabalabalabalabalabalabala</span></li>
        <li><span class="mode1">1</span><span class="mode2">balabalabalabalabalabalabalabala</span></li>
        <li><span class="mode1">1</span><span class="mode2">balabalabalabalabalabalabalabala</span></li>
    </ul>
</div>
<div class="right">
    <div class="input-title-wrapper">
        <input class="input-title" data-role="title" placeholder="请输入标题" maxlength="48">
    </div>
    <div class="input-content-wrapper">
        <textarea class="input-content" data-role="content" placeholder="请输入内容" maxlength="9990"></textarea>
    </div>
    <div class="input-content-wrapper">
        <textarea class="input-description" data-role="description" placeholder="请输入描述" maxlength="54"></textarea>
    </div>
</div>


<div class="controls">
    <div class="content-wrapper">
        <a class="button primary">保存</a>
        <a class="button">返回</a>
    </div>
</div>
<!-- @@close -->