@import "constants";

$padding: 24px;

.bookmarks-container {
	> a {
		background-image: url(../images/bookmark.png);
		background-size: cover;
		background-position: center center;
		display: inline-block;
		margin-bottom: 2em;
		width: 236px;
		height: 300px;
		font-size: 20px;
		text-decoration: none;
		color: $color-main;
		position: relative;

		button.remove {
			-moz-appearance: none;
			-webkit-appearance: none;
			appearance: none;
			z-index: 1;
			cursor: pointer;
			background: none;
			border: 0;
			height: 20px;
			width: 20px;
			display: inline-block;
			border-radius: 50%;
			vertical-align: middle;
			position: relative;

			&:before {
				content: "×";
				font-size: 24px;
				top: 50%;
				left: 50%;
				position: absolute;
				-moz-transform: translate(-50%, -50%);
				-ms-transform: translate(-50%, -50%);
				-o-transform: translate(-50%, -50%);
				-webkit-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
			}

			&:hover {
				background-color: $color-button-hover;
				color: white;
			}
		}

		&:not(:nth-child(4n+1)) {
			margin-left: 24px;
		}

		.centered {
			position: absolute;
			top: $padding;
			left: $padding;
			right: $padding;
		}

		header {
			font-weight: bold;
			display: block;
		}

		.description {
			font-size: 16px;
			margin-top: $padding;
			-ms-word-break: break-all;
			word-break: break-all;
		}

		small {
			font-size: 16px;
		}

		.author {
			position: absolute;
			left: $padding;
			bottom: $padding;
		}

		.date {
			position: absolute;
			right: $padding + 8px;
			bottom: $padding;
		}

		.article-info {
			position: absolute;
			top: 100%;
			margin-top: ($padding - 4px);
			left: 0;
			right: 0;
			text-align: center;
		}
	}
}