@import "constants";

$padding: 24px;

.bookmarks-container {
	padding-top: 20px;

	> a {
		background-image: url(../images/bookmark.png);
		background-size: cover;
		background-position: center center;
		display: inline-block;
		margin-bottom: 2em;
		width: 236px;
		height: 288px;
		font-size: 20px;
		text-decoration: none;
		color: $color-main;
		position: relative;
		border-top-right-radius: 50px;
		border-bottom-right-radius: 50px;

		&:hover {
			box-shadow: #eee 0 0 10px;
		}

		button.remove {
			-moz-appearance: none;
			-webkit-appearance: none;
			appearance: none;
			z-index: 1;
			cursor: pointer;
			background: url(../images/close.png) no-repeat no-repeat;
			background-size: contain;
			border: 0;
			height: 20px;
			width: 20px;
			display: inline-block;
			vertical-align: middle;

			&:hover {
				-moz-filter: brightness(1.2);
				-ms-filter: brightness(1.2);
				-webkit-filter: brightness(1.2);
				filter: brightness(1.2);
			}
		}

		&:not(:nth-child(4n+1)) {
			margin-left: 158px;
		}

		.centered {
			position: absolute;
			top: $padding;
			left: $padding;
			right: $padding;
		}

		header {
			font-weight: bold;
			display: block;
		}

		.description {
			font-size: 16px;
			margin-top: $padding;
			-ms-word-break: break-all;
			word-break: break-all;
		}

		small {
			font-size: 16px;
		}

		.author {
			position: absolute;
			left: $padding;
			bottom: $padding;
		}

		.date {
			position: absolute;
			right: $padding + 8px;
			bottom: $padding;
		}

		.article-info {
			position: absolute;
			top: 100%;
			margin-top: ($padding - 4px);
			left: 0;
			right: 0;
			text-align: center;
		}
	}
}