@import "constants";

form {
	.success, .fail {
		display: none;
	}
}

.page-content {
	width: 1024px;
	margin: auto;
	padding: 20px;
	font-size: 0;
}

body {
	font-family: 'Microsoft YaHei';
	background: $color-background;
}