@import "constants";

$iceburg : rgb(198, 224, 220);
$orange : rgb(236, 229, 207);
$gibry : rgb(240, 212, 177);
$burning: rgb(222, 142, 123);

.boards {
	$span: 12px;
	$column-width: (1024px - $span*3) /4;
	position: relative;
	width: 1024px;
	height: 650px + 80px;
	.column {
		display: inline-block;
		width: $column-width;
		height: 100%;
		margin-right: $span - 1px;
		vertical-align: top;
		font-size: 0;
		&:last-of-type {
			margin-right: 0;
		}
		&:nth-child(1) {
			.section {
				$first-height: 340px;
				&:nth-child(1) {
					background: $gibry;
					height: $first-height;
					margin-bottom: $span;
				}
				&:nth-child(2) {
					background: $iceburg;
					height: 650px - $first-height - $span;
				}
			}
		}
		&:nth-child(2) {
			.section {
				$first-height: 150px;
				&:nth-child(1) {
					background: $iceburg;
					height: $first-height;
					margin-bottom: $span;
				}
				&:nth-child(2) {
					background: $orange;
					height: 650px - $first-height - $span;
				}
			}
		}
		&:nth-child(3) {
			.section {
				$first-height: 430px;
				&:nth-child(1) {
					background: $gibry;
					height: $first-height;
					margin-bottom: $span;
				}
				&:nth-child(2) {
					background: $burning;
					height: 650px - $first-height - $span;
				}
			}
		}
		&:nth-child(4) {
			.section {
				$first-height: 250px;
				&:nth-child(1) {
					background: $orange;
					height: $first-height;
					margin-bottom: $span;
				}
				&:nth-child(2) {
					background: $iceburg;
					height: 650px - $first-height - $span;
				}
			}
		}
	}
	.section {
		display: block;
		position: relative;
		text-decoration: none;
		width: 100%;
		font-size: 14px;
		color: white;
		padding: 20px 0;
		>p {
			margin: 20px 0 0 0 ;
			padding: 0 30px;
		}
		.title {
			margin-top: 0;
			font-size: 20px;
		}
		.description {

		}
		.info {
			text-align: right;
			padding: 0 40px;
			margin-top: 10px;
			>p {
				position: relative;
				display: inline-block;
				text-align: left;
				height: 40px;
				padding-left: 50px;
				> * {
					display: inline-block;
					max-width: 130px;
				}
				.avatar {
					position: absolute;
					display: inline-block;
					left: 0;
					top: 0;
					width: 40px;
					height: 40px;
					overflow: hidden;
					border-radius: 20px;
					margin-right: 25px;
					> img {
						width: 100%;
						height: 100%;
					}
				}
			}

		}
	}
}

.footer {
	margin-top: 40px;
	border-top: 1px solid $color-border-gray;
	height: 80px;
	line-height: 80px;
	width: 100%;
	color: $color-border-gray;
	font-size: 12px;
	text-align: center;
}